{% extends 'base.html.twig' %}

{% block title %}Player index{% endblock %}

{% block body %}
    {% include 'global/menu.html.twig' %}

    {{ include('player/_form.html.twig') }}

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for player in players %}
            <tr>
                <td>{{ player.id }}</td>
                <td>{{ player.name }}</td>
                <td>
                    <a class="btn btn-primary btn-block" href="{{ path('player_edit', {'id': player.id}) }}">edit</a>
                    {% include 'player/_delete_form.html.twig' with { 'player': player } only %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
